.header {
    margin-bottom: 2em;
    
    .dashboard__logo {
        width: 100%;
        height: auto;
        margin-bottom: 1.5em;
    }
    
}

@media (min-width: 46.875em) {
    .header {
        display: flex;
        justify-content: space-between;

        .dashboard__logo {
            width: 25%;
            height: auto;
        }
    }

    .middle-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4em;
        align-items: end;
    }

}

.MuiPickersDay-daySelected {
    background-color: #6f856f!important;
  }
  
