.header {
    margin-bottom: 2em;
    
    .dashboard__logo {
        width: 100%;
        height: auto;
        margin-bottom: 1.5em;
    }
    
}

@media (min-width: 46.875em) {
    .header {
        display: flex;
        justify-content: space-between;

        .dashboard__logo {
            width: 32%;
            height: auto;
        }
    }

}
